<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/4.6.3/antd.css">

<script>
const init = () => {
  const gadget = DebugGadget

  gadget.bootstrap({
    onReceiveConversationData: (data) => {
      data.viewElementInfos.forEach((itemInfo) => {
        const div = document.createElement('div')
        div.id = 'CID_' + Math.random()
        div.style.marginBottom = '20px'
        div.style.background = '#EBECEF'
        div.style.padding = '12px'
        document.getElementById('root').append(div)

        gadget.update({ containerId: div.id, ...itemInfo }).then()
      })
    }
  })
  gadget.mount({
    name: 'DebugGadget', container: null, onGlobalStateChange: () => {

    }
  }).then()
}
</script>

<div id="root">
  <button onclick="init()">init</button>
</div>
</body>
</html>

